# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# IDE Settings
.vscode/
.idea/

# Executables
*.exe
*.out
*.app
/.idea/.gitignore
/.idea/.name
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/plauncher.iml
/.idea/QtSettings.xml
/.idea/vcs.xml
